@model WebActivityMVCPattern.Models.ActivityModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>ActivityModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ActivityStarted" class="control-label"></label>
                <input asp-for="ActivityStarted" class="form-control" />
                <span asp-validation-for="ActivityStarted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityDurationMinutes" class="control-label"></label>
                <input asp-for="ActivityDurationMinutes" class="form-control" />
                <span asp-validation-for="ActivityDurationMinutes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityType" class="control-label"></label>
                <input asp-for="ActivityType" class="form-control" />
                <span asp-validation-for="ActivityType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ActivityComments" class="control-label"></label>
                <input asp-for="ActivityComments" class="form-control" />
                <span asp-validation-for="ActivityComments" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
